<header title="Расписание" type="modal"></header>

<ion-content>

    <ion-list>
        <ion-item-group *ngFor="let w of weeks | objNgFor">
            <ion-item-divider color="light">{{ w.value }}</ion-item-divider>
            <ng-template ngFor let-item [ngForOf]="shedule[w.key]" let-i="index">
                <ion-list-header *ngIf="item != null">
                    {{ dayWeek[i] }}
                </ion-list-header>
                <ion-item *ngFor="let s of item; let indx = index" text-center>
                    <div item-start>
                        {{s.pair}} пара
                        <br> {{s.startTime}} - {{s.endTime}}
                    </div>
                    <h2>{{ s.subject }}</h2>
                    <h3>{{ s.teacher }}</h3>
                    <div item-end>
                        ауд. {{ s.lectureHall }}
                    </div>
                </ion-item>
            </ng-template>
        </ion-item-group>
    </ion-list>
</ion-content>