<header title="Расписание" type="modal"></header>

<ion-content>
  <ion-segment [(ngModel)]="menu">
    <ion-segment-button value="pairs">
      Пары
    </ion-segment-button>
    <ion-segment-button value="add">
      Добавить
    </ion-segment-button>
    <ion-segment-button value="shedule">
      Расписание
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="menu">
    <div text-center class="text-error" *ngIf="error != ''">{{ error }}</div>

    <ion-list *ngSwitchCase="'add'" [formGroup]="sheduleForm">

      <ion-item>
        <ion-label>Неделя</ion-label>
        <ion-select formControlName="week" cancelText="Отмена">
          <ion-option value="topWeek">Верхняя</ion-option>
          <ion-option value="lowerWeek">Нижняя</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>День недели</ion-label>
        <ion-select formControlName="dayWeek" cancelText="Отмена">
          <ion-option [value]="i == 0 ? 6 : i" *ngFor="let d of dayWeek; let i = index">{{ d }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Пара</ion-label>
        <ion-select formControlName="pair" cancelText="Отмена">
          <ion-option [value]="p.number" *ngFor="let p of shedule.pairs; let i = index">{{ i + 1 + ': ' + p.startTime + ' - ' + p.endTime }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating autocomplete="on">Предмет</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating autocomplete="on">Преподаватель</ion-label>
        <ion-input type="text" formControlName="teacher"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating autocomplete="on">Аудитория</ion-label>
        <ion-input type="text" formControlName="lectureHall"></ion-input>
      </ion-item>

      <button ion-button margin-top full (click)="addShedule()" [disabled]="sheduleForm.invalid">Добавить</button>

    </ion-list>

    <ion-list *ngSwitchCase="'pairs'" [formGroup]="pairsForm">
      <ion-item>
        <ion-label>Номер пары</ion-label>
        <ion-input type="number" min="1" max="20" formControlName="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Время начала</ion-label>
        <ion-datetime displayFormat="HH:mm" cancelText="Отмена" doneText="ОК" formControlName="startTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Время окончания</ion-label>
        <ion-datetime displayFormat="HH:mm" cancelText="Отмена" doneText="ОК" formControlName="endTime"></ion-datetime>
      </ion-item>

      <button ion-button margin-top margin-bottom full (click)="addPair()" [disabled]="pairsForm.invalid">Добавить</button>

      <ion-item *ngFor="let p of shedule.pairs; let i = index">
        <div>{{ p.number}} пара:
          <ion-icon name="ios-clock-outline"></ion-icon> {{ p.startTime + ' - ' + p.endTime }}
        </div>
        <button ion-button item-end clear icon-only (click)="removePair(i)">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-item>
      <ion-item hidden></ion-item>
    </ion-list>
    <div *ngSwitchCase="'shedule'">
      <ion-item>
        <ion-label>Функция Drag n Drop</ion-label>
        <ion-toggle [(ngModel)]="dragNDrop"></ion-toggle>
      </ion-item>
      <div *ngFor="let w of weeks | objNgFor">
        <div class="week" color="light">{{ w.value }}</div>
        <ng-template ngFor let-item [ngForOf]="shedule[w.key]" let-i="index">
          <div class="day-week" *ngIf="item != null && item.length > 0" #day>
            {{ dayWeek[i] }}
          </div>

          <ion-grid [dndList]="{'disabled': !dragNDrop}" [dndModel]="item" *ngIf="item != null">
            <ion-row *ngFor="let s of item; let indx = index" [draggable]="dragNDrop" [dndDraggable] [dndObject]="s" (dndMoved)="removeMoved(s, item)" align-items-center>
              <ion-col col-2 style="overflow: hidden;">
                <ion-select class="max-width" [(ngModel)]="s.pair" cancelText="Отмена">
                  <ion-option [selected]="s.pair == p.number" [value]="p.number" *ngFor="let p of shedule.pairs; let i = index">
                    {{ i + 1}} пара
                  </ion-option>
                </ion-select>
              </ion-col>
              <ion-col col-6>
                <ion-list no-margin>
                  <ion-item>
                    <ion-label floating>Предмет:</ion-label>
                    <ion-input type="text" [(ngModel)]="s.subject" [value]="s.subject"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Преподаватель:</ion-label>
                    <ion-input type="text" [(ngModel)]="s.teacher" [value]="s.teacher"></ion-input>
                  </ion-item>
                  <ion-item hidden></ion-item>
                </ion-list>
              </ion-col>
              <ion-col col-3>
                <ion-list no-margin>
                  <ion-item>
                    <ion-label floating>Ауд.:</ion-label>
                    <ion-input type="text" [(ngModel)]="s.lectureHall" [value]="s.lectureHall"></ion-input>
                  </ion-item>
                  <ion-item hidden></ion-item>
                </ion-list>
              </ion-col>
              <ion-col col-1>
                <button ion-button clear icon-only (click)="removeShedule(w.key, i)">
                  <ion-icon name="md-close"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ng-template>
      </div>

      <button ion-button margin-top full (click)="saveShedule()">Сохранить</button>
      <button ion-button margin-top full (click)="saveShedule()">Сохранить</button>

    </div>
  </div>

</ion-content>