page-profile {
    // ion-col {
    //     box-shadow: 2px 2px 10px gray;
    //     border-radius: 10px;
    // }
    .avatar{
        border-radius: 5px;
        width: 100%;
        max-height: 300px;
    }
}