<header [title]="group.name"></header>


<ion-content padding>
  <ion-grid *ngIf="!!group._id">
    <ion-row justify-content-around>
      <ion-col col-8 box-shadow>        
        <div text-center *ngIf="isEmptyObject(group.shedule)">Расписание не загружено</div>
      </ion-col>
      <ion-col col-3 box-shadow>
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + urlApi + group.avatar + ')'}"></div>
        <ng-template [ngIf]="authProvider.isLoggedIn()">
          <button ion-button full (click)="joinGroup(group._id)" [disabled]="inGroup" icon-left>
            {{ inGroup ? 'Вы состоите в группе' : 'Вступить'}}
          </button>
          <button ion-button full (click)="leaveGroup(group._id)" *ngIf="!main && inGroup">
            Покинуть группу
          </button>
          <button ion-button icon-right full clear (click)="openPopover($event)" *ngIf="main && inGroup">
            Настройки
            <ion-icon name="arrow-down"></ion-icon>
          </button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>