<header [title]="group.name"></header>


<ion-content padding>
  <ion-grid *ngIf="!!group._id">
    <ion-row justify-content-around style="align-items: flex-start">
      <ion-col col-8>

        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12 box-shadow>

              <h4 text-center margin-top>Расписание</h4>

              <div text-center margin-top>Текущее время: {{ dayWeek[day] }}, {{ timeNow }} ({{ weeks ? 'Верхняя' : 'Нижняя' }})</div>
              <div text-center margin-top *ngIf="isEmptyObject(group.shedule)">Расписание не загружено</div>

              <ng-template [ngIf]="!isEmptyObject(group.shedule)">
                <ion-segment [(ngModel)]="menu">
                  <ion-segment-button value="now">
                    Текущее
                  </ion-segment-button>
                  <ion-segment-button value="day">
                    На сегодня
                  </ion-segment-button>
                </ion-segment>

                <div [ngSwitch]="menu">
                  <ion-list *ngSwitchCase="'now'">
                    <ion-item text-center *ngIf="currentShedule != null; else elseBlock">
                      <div item-start>
                        {{currentShedule.pair}} пара
                        <br> {{currentShedule.startTime}} - {{currentShedule.endTime}}
                      </div>
                      <h2>{{ currentShedule.subject }}</h2>
                      <h3>{{ currentShedule.teacher }}</h3>
                      <div item-end>
                        ауд. {{ currentShedule.lectureHall }}
                      </div>
                    </ion-item>
                    <ng-template #elseBlock>
                      <div text-center margin-top>На сегодня пар нет</div>
                    </ng-template>
                  </ion-list>
                  <ion-list *ngSwitchCase="'day'">
                    <div *ngIf="currentSheduleOfDay != null || currentSheduleOfDay != undefined; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                      <ion-item text-center *ngFor="let s of currentSheduleOfDay">
                        <div item-start>
                          {{s.pair}} пара
                          <br> {{s.startTime}} - {{s.endTime}}
                        </div>
                        <h2>{{ s.subject }}</h2>
                        <h3>{{ s.teacher }}</h3>
                        <div item-end>
                          ауд. {{ s.lectureHall }}
                        </div>
                      </ion-item>
                    </ng-template>
                    <ng-template #elseBlock>
                      <div text-center margin-top>На сегодня пар нет</div>
                    </ng-template>
                  </ion-list>

                  <button ion-button full no-margin (click)="openFullShedule()">Открыть полное расписание</button>
                </div>
              </ng-template>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 box-shadow margin-top>
              <group-calendar [data]="{id: group._id, main: main, events: group.events}"></group-calendar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 box-shadow [box-shadow-hidden]="false" margin-top>
              <submit-post-box [group]="group._id" (add-post)="addPost($event)"></submit-post-box>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let p of group.posts; let i = index">
            <ion-col col-12 margin-top>

              <ion-card>

                <ion-item>
                  <ion-avatar item-start>
                    <img [src]="urlApi + group.avatar">
                  </ion-avatar>
                  <h2>{{ group.name }}</h2>
                  <p>{{ p.date | date:'d MMMM yyyy H:mm'}}</p>
                </ion-item>

                <ion-card-content>
                  <p>{{ p.post }}</p>
                </ion-card-content>

                <h4 *ngIf="p.files.length > 0" margin-left style="font-weight: bold; color: gray">Прикрепленные файлы:</h4>

                <ion-grid>
                  <ion-row>
                    <ng-template ngFor let-f [ngForOf]="p.files">

                      <ion-col col-6 *ngIf="isImage(f.file)">
                        <img [src]="urlApi + f.file">
                      </ion-col>

                      <ion-col col-12 *ngIf="!isImage(f.file)">
                        <a [href]="apiUrl + f.file" target="_blank" icon-left>
                          <ion-icon name="md-clipboard"></ion-icon>
                          f.file
                        </a>
                      </ion-col>

                    </ng-template>
                  </ion-row>
                </ion-grid>

              </ion-card>

            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-col>
      <ion-col col-3>
        <ion-grid no-padding>
          <ion-row>

            <ion-col col-12 box-shadow>
              <div class="avatar" [ngStyle]="{'background-image': 'url(' + urlApi + group.avatar + ')'}"></div>
              <ng-template [ngIf]="authProvider.isLoggedIn()">
                <button ion-button full (click)="joinGroup(group._id)" [disabled]="inGroup" icon-left>
                  {{ inGroup ? 'Вы состоите в группе' : 'Вступить'}}
                </button>
                <button ion-button full (click)="leaveGroup(group._id)" *ngIf="!main && inGroup">
                  Покинуть группу
                </button>
                <button ion-button icon-right full clear (click)="openPopover($event)" *ngIf="main && inGroup">
                  Настройки
                  <ion-icon name="arrow-down"></ion-icon>
                </button>
              </ng-template>
            </ion-col>

            <ion-col col-12 box-shadow margin-top>
              <div padding>Участники:
                <span style="color:gray">{{ group.users.length }}</span>
              </div>
              <ion-grid>
                <ion-row justify-content-start>
                  <ion-col col-4 *ngFor="let u of randUsers" text-center (click)="goToProfile(u.user.url)" style="cursor: pointer">
                    <div class="mini-avatar" [ngStyle]="{'background-image': 'url(' + urlApi + u.user.avatar + ')'}"></div>
                    {{ u.user.name }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>