<header [title]="'Сообщения'"></header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-6 class="chats">
        <ion-list no-margin>
          <ion-item *ngFor="let c of chats; let i = index" (click)="openChat(i)" no-padding>
            <ion-avatar item-start>
              <div class="avatar" [ngStyle]="{'background-image': 'url(' + apiUrl + c.avatar + ')'}"></div>
              
              <ng-template [ngIf]="c.state">
                <div class="avatar-state circle" *ngIf="!c.platform"></div>
                <ion-icon class="avatar-state" name="phone-portrait" *ngIf="c.platform"></ion-icon>
              </ng-template>
            </ion-avatar>
            <h2>{{ c.name }}</h2>
            <p>{{ c.messages[0].message.text }}</p>
            <ion-note item-end>{{ c.messages[0].date | datePipe }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>