<header [title]="'Сообщения'"></header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-6 class="chats">
        <ion-list no-margin>
          <ion-item *ngFor="let c of chats" (contextmenu)="onRightClick($event, c._id)" (click)="openChat(c._id)" no-padding>
            <ion-avatar item-start>
              <div class="avatar" [ngStyle]="{'background-image': 'url(' + apiUrl + c.avatar + ')'}"></div>

              <ng-template [ngIf]="c.state">
                <div class="avatar-state circle" *ngIf="!c.platform"></div>
                <ion-icon class="avatar-state" name="phone-portrait" *ngIf="c.platform"></ion-icon>
              </ng-template>
            </ion-avatar>
            <h2>{{ c.name }}</h2>
            <p>{{ c.messages[0].message.text }}</p>
            <ion-note item-end>{{ c.messages[0].date | datePipe }}</ion-note>
            <ion-badge item-end *ngIf="c.unread > 0">{{ c.unread }}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right style="bottom: 70px">
    <button ion-fab icon-only (click)="createChat()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>