calendar {
    .monthview-current.monthview-primary-with-event {
        background-color: #3A8787 !important;
    }
}

group-calendar {
    .add-event {
        position: absolute;
        top: 0;
        right: 0;
    }
}