message {
    a{
        color: inherit;
        text-decoration: none;
        font-size: 16px;
    }
    .date {
        position: absolute;
        top: -20px;
        color: #c5c5c5;
        width: 100px;
    }
    .avatar {
        width: 50px;
        height: 50px;
    }
    .from {
        margin-left: 0!important;
        justify-content: end;
        .date{
            text-align: right;
            right: -15px;
        }
        .message {
            background-color: color($colors, from);
            color: #fff;
            margin-right: 10px;
            border-radius: 5px 0 5px 5px;
        }
        .message::after {
            border-top: 15px solid color($colors, from);
            border-right: 15px solid transparent;
            left: 100%;
        }
    }
    .to {
        justify-content: start;
        .date{
            left: -15px;
        }
        .message {
            background-color: color($colors, to);
            border-radius: 0 5px 5px 5px;
            order: 2;
            margin-left: 10px;
        }
        .message::before {
            border-top: 15px solid color($colors, to);
            border-left: 15px solid transparent;
            right: 100%;
        }
    }
    .message {
        border-radius: 5px;
        padding: 5px;
        margin-top: 30px;
    }
    .message::after,
    .message::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
    }
}